Source: gtreesize
Section: admin
Priority: optional
Maintainer: Frank Duckhorn <frank@bitboulder.net>
Build-Depends: valac-0.14 (>=0.14.0), libgtk-3-dev, pkg-config, scons
Standards-Version: 1.0.0
Vcs-Git: http://github.com/bitboulder/gtreesize.git
Vcs-Browser: http://github.com/bitboulder/gtreesize

Package: gtreesize
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Display the disk usage in a browsable directory tree.
 It helps you to find files and directories wasting much disk space.

